#field-color {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

body.cms-ui .color-list-widget .ui.button {
  border-width: 2px;
  border-color: #fff;
}

body.cms-ui .color-list-widget .ui.button:hover {
  opacity: 0.75;
}

.color-list-widget .ui.button.blu_agid,
.color-list-widget .ui.button.blu_agid.active,
body.cms-ui .color-list-widget .ui.button.blu_agid:hover {
  background-color: #0066cc;
}

.color-list-widget .ui.button.verde_agid,
.color-list-widget .ui.button.verde_agid.active,
body.cms-ui .color-list-widget .ui.button.verde_agid:hover {
  background-color: #007a52;
}

.color-list-widget .ui.button.verde_muschio,
.color-list-widget .ui.button.verde_muschio.active,
body.cms-ui .color-list-widget .ui.button.verde_muschio:hover {
  background-color: #476100;
}

.color-list-widget .ui.button.verde_prato,
.color-list-widget .ui.button.verde_prato.active,
body.cms-ui .color-list-widget .ui.button.verde_prato:hover {
  background-color: #006600;
}

.color-list-widget .ui.button.turchese,
.color-list-widget .ui.button.turchese.active,
body.cms-ui .color-list-widget .ui.button.turchese:hover {
  background-color: #027b7b;
}

.color-list-widget .ui.button.bordeaux,
.color-list-widget .ui.button.bordeaux.active,
body.cms-ui .color-list-widget .ui.button.bordeaux:hover {
  background-color: #880123;
}

.color-list-widget .ui.button.prugna,
.color-list-widget .ui.button.prugna.active,
body.cms-ui .color-list-widget .ui.button.prugna:hover {
  background-color: #840668;
}

.color-list-widget .ui.button.viola,
.color-list-widget .ui.button.viola.active,
body.cms-ui .color-list-widget .ui.button.viola:hover {
  background-color: #5a13c3;
}

.color-list-widget .ui.button.fuxia,
.color-list-widget .ui.button.fuxia.active,
body.cms-ui .color-list-widget .ui.button.fuxia:hover {
  background-color: #c931b5;
}

.color-list-widget .ui.button.marrone,
.color-list-widget .ui.button.marrone.active,
body.cms-ui .color-list-widget .ui.button.marrone:hover {
  background-color: #8c3b08;
}

.color-list-widget .ui.button.oro,
.color-list-widget .ui.button.oro.active,
body.cms-ui .color-list-widget .ui.button.oro:hover {
  background-color: #8a7000;
}

.color-list-widget .ui.button.blu_navy,
.color-list-widget .ui.button.blu_navy.active,
body.cms-ui .color-list-widget .ui.button.blu_navy:hover {
  background-color: #01027f;
}
